dj-database-url==0.4.0
Django==2.2.16
gunicorn==19.4.5
psycopg2-binary
pycpfcnpj
pyimgur
django-money
django-cpf
beautifulsoup4
django-phone-field
django-phonenumber-field[phonenumbers]
pytz
django-search-views
djangorestframework
django-extensions
django-allauth
django-mptt
django-filter

requests==2.9.1
whitenoise==2.0.6
django-ckeditor==5.0.3
pyfcm

django-crud-generator

jsbeautifier
