{% load staticfiles %}
<header>

    <!-- *** TOP ***
_________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 contact">
                    <p class="hidden-sm hidden-xs">Contate-me 083 9 8873-1795 ou caiomarinho8@gmail.com .</p>

                    <p class="hidden-md hidden-lg"><a href="#" data-animate-hover="pulse"><i
                            class="fa fa-phone"></i></a> <a href="#" data-animate-hover="pulse"><i
                            class="fa fa-envelope"></i></a>
                    </p>
                </div>
                <div class="col-xs-7">
                    <div class="social">
                        <a href="#" class="external facebook" data-animate-hover="pulse"><i
                                class="fa fa-facebook"></i></a>
                        <a href="#" class="external gplus" data-animate-hover="pulse"><i
                                class="fa fa-google-plus"></i></a>
                        <a href="#" class="external twitter" data-animate-hover="pulse"><i
                                class="fa fa-twitter"></i></a>
                        <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- *** TOP END *** -->

    <!-- *** NAVBAR ***
_________________________________________________________ -->

    <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

        <div class="navbar navbar-default yamm" role="navigation" id="navbar">

            <div class="container">
                <div class="navbar-header">

                    <a class="navbar-brand home" href="/">
                        <img src="{% static 'img/logo.png' %}" alt="Universal logo" class="hidden-xs hidden-sm">
                        <img src="{% static 'img/logo.png' %}" alt="Universal logo" class="visible-xs visible-sm"><span
                            class="sr-only">Caio Marinho</span>
                    </a>

                    <div class="navbar-buttons">
                        <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse"
                                data-target="#navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-align-justify"></i>
                        </button>
                    </div>
                </div>
                <!--/.navbar-header -->

                <div class="navbar-collapse collapse" id="navigation">

                    <ul class="nav navbar-nav navbar-right">
                        <li id="inicio" class="">
                            <a href="/">Inicio </a>
                        </li>
                        <li id="projetos" class="">
                            <a href="http://loja.caiomarinho.me/" target="_blank">Loja</a>
                        </li>
                        <li id="projetos" class="">
                            <a href="/projetos">Projetos</a>
                        </li>
                        <li id="projetos" class="">
                            <a href="#" data-toggle="modal" data-target="#contatomodal">Contato</a>
                        </li>
                    </ul>

                </div>
                <!--/.nav-collapse -->

            </div>

        </div>
        <!-- /#navbar -->

    </div>

    <!-- *** NAVBAR END *** -->

</header>
